a,
a:visited { color:red; transition: background-color 0.2s ease 0s, color 0.2s ease 0s; }
a:focus { outline: thin dotted;	background:#1e5306;	color:#fff;	text-decoration:none; }
a:hover:active { outline:none; }

a.more-link,
a.more-link:visited { display: inline-block; font-size:0.929em; background: #fff; color:#fff; text-decoration: none; text-transform: uppercase; padding:8px 30px 9px 40px; float:right; }
a.more-link:hover, 
a.more-link:focus { color:#fff; background-position: 0 -63px; }
a.more-link:focus { outline: 2px solid #222;}
a.more-link:hover:active {outline: none}

.logo{
    width: 248px;
    height: 107px;
    background-color: white;
}


.social-media-icons{
    color: white;
	font-weight: bold;
    background: red;
    height: 50px;
}
#font-wrapper { width:160px; position:absolute; left:10px; }
#fonts ul {margin: 0; padding:0; list-style:none;}
#fonts ul li { float:left; margin:0 15px 0 0; }
#fonts ul li a, 
#fonts ul li a:visited, 
#fonts ul li a:active { display: block; padding:0 2px; }
#fonts ul li a:focus, 
#fonts ul li a:hover {background-color: #fff; outline:2px solid #000; }
#fonts ul li:last-child { padding-left:15px; margin:0; background: url("images/icoSepFonts.png") no-repeat left 5px;}

.search{
    color: white;
	font-weight: bold;
    background-color: #222;
    height: 50px;
    
}

.search-form{ display: inline-block;}
.search-form { background:#272727; width:200px; }
.search-form label { float:left; }
.search-form input[type="search"] { border:1px solid transparent; width:120px; margin:0px;}
.search-form input[type="search"]:focus { outline:0px solid #1e65a7; }
.search-form .search-submit { float:right; }
.search-submit { box-shadow: 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:10px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
    }
    .search-submit:hover {
        background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
        background-color:#ffab23;
    }
    .search-submit:active{
        position:relative;
        top:0px;
    }
    ::placeholder {
        color: black;
        opacity: 1;
    }


/* Menus */

.main-menu{
    background: #272727;
    
}

.main-menu a{
    color: #f6f4e6;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  display: inline-block;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.main-menu a:hover{
    color: red;
}


  

.main-menu ul li, .footer-menu ul li {
    
    display: inline-block;
	list-style: none;
    

}

.footer-menu{
    background: #272727;    
}


.footer-menu a{
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 300;
  display: inline-block;
  width: 80px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.footer-menu ul li, .footer-menu ul li {
    
    display: inline-block;
    

}

.footer-menu a:hover{
    color: #fddb3a;
}


#FooterLogo { width:100%; height:110px; }
#FooterLogo .DKLogo { list-style:none;  margin:0 auto; }
#FooterLogo ul { margin:0; padding:5px 0 0 0; list-style:none; width:460px;  float:left }
#FooterLogo ul li { margin:0 10px 0 0; padding:0; display:inline-block; }
#FooterLogo ul li a { display:inline-block; }
#FooterLogo ul li a:focus { outline:2px solid #000; background:white;}
#FooterLogo .DKLogo p { float:left;}



  


/* Thumbnails */
.wp-post-image{
    float: left;
    margin: 0 15px 10px 0;
} 

.blog article{
    display: inline-block;
    
}
.blog h2{
    color: red;
}
.sidebar{
    background: #222;
}
.copyright{
    color: white;
    background: white;
    

}

.wp-block-calendar .wp-calendar-table {color: #f00;}
.wp-block-calendar tbody {background:#1e5306; color: #fff !important;}
.wp-block-calendar caption { text-transform:uppercase; color:white; padding:5px; font-size:0.9em;}

.wp-block-calendar td { text-align:center; padding:5px 0; border-left:1px solid #f00; border-right:1px solid #e2e2e2;  }

.wp-block-calendar td a { display:block; color:#fff; background:#1e65a7; padding:3px 0; width:100%; text-decoration:none;}
.wp-block-calendar td a:focus { background:#0d365c; color:#fff; }
.wp-block-calendar caption { text-transform:uppercase; color:red!important; padding:5px; font-size:1.2em; }

#systemMode {width: 1px; height: 1px; background: url("images/transparent.png"); position: absolute; left: -9000em; }